body{
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.menuNavDesktop{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(233, 204, 126, 0.559);
    width: 100%;
    color: white;
    gap: 10px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Cormorant SC', serif;
}
.menuNavDesktop h1{
    font-family: 'Tangerine', serif;
}
.menuNavDesktop nav {
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.menuNavDesktop nav a{
   text-decoration: none;
   color: white;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}


.imgFrontalDosNoivos{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    width: 100%;

}

.imgFrontalDosNoivos img{
    width: 100%;
    height: 510px;
    object-fit: cover;
    margin-top: 0px;
    
}

.boasVindasDosNoivos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Cormorant SC', serif;
    padding: 13px;
}

.apresentacaoDosNoivos{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    


}
.apresentacaoDosNoivos h2{
    display: flex;
    font-size: 50px;
    color: rgb(128, 89, 5);
    font-family: 'Tangerine', serif;
    margin-top: 15px;
}

.segundaImgDosNoivos{
    display: flex;
    justify-content: center;
    align-items: center;


}
.segundaImgDosNoivos img{
    margin-bottom: 15px;
    height: 530px;
    border-radius: 50%;
    border: 5px rgba(173, 144, 62, 0.559) solid;

}

.aNoiva{
    display: block;
    text-align: right;
    margin-right: 13px;
    font-family: 'Tangerine', serif;
    font-size: 15px;
    color: rgb(128, 89, 5);
    
}
.aNoiva h4{
    font-family: 'Cormorant SC', serif;
    font-size: 15px;
    color: rgb(128, 89, 5);
}
.oNoivo{
    display: block;
    text-align: left;
    margin-left: 13px;
    font-family: 'Tangerine', serif;
    font-size: 15px;
    color: rgb(128, 89, 5);
}
.oNoivo h4{
    font-family: 'Cormorant SC', serif;
    font-size: 15px;
    color: rgb(128, 89, 5);
}

.historiaDosNoivos{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Cormorant SC', serif;

    

}
.historiaDosNoivos h5{
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    color: rgb(128, 89, 5);
    margin-top: 25px;

}

.confirmarPresenca h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cormorant SC', serif;
    margin-top: 10px;
}

.confirmarPresenca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    margin-top: 10px;
    color: white;
    
}
.confirmarPresenca input{
    
    width: 350px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 10px;
    padding-left: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    
}
.informationBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);

   
}

.chooseInformation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    font-size: 13px;
    padding: 15px;

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    padding: 15px;
    
    
}
.h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    color: rgb(128, 89, 5);
    font-family: 'Cormorant SC', serif;
    font-size: 35px;
    margin-top: 10px;
    
}
.contagemRegressiva{
    display: flex;
    justify-content: center;
    font-size: 120px;
    color: white;
    text-align: center;
    color: rgb(128, 89, 5);
    font-family: 'Tangerine', serif;
}
.localizacaoDoSalao{
    display: flex;
    justify-content: right;
    background-color: rgba(173, 144, 62, 0.559);
    

}
.tittleLocation{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(173, 144, 62, 0.559);
    margin-top: 10px;
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    color: white;
    gap: 20px;
}
.esquerda{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    
}

.date{
    color: rgb(128, 89, 5);
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;
    font-size: 25px; 
}

.text-date{
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    
}
.location{
    color: rgb(128, 89, 5);
}

.text-location{
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    margin-bottom: 40px;
}
.time{
    color: rgb(128, 89, 5);
}
.text-time{
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    margin-bottom: 40px;
} 


.direito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    object-fit: cover;
    margin-top: 25px;
    margin-bottom: 20px;
}
#btn-mobile {
    display: none;
}
@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 63px;
        right: 0px;
        background-color: rgba(173, 144, 62, 0.559);
        height: 100vh;
        z-index: 1000;
        
    }

    #nav.active #menu{
        display: block;
        

    }
    #menu a{
        padding: 2rem 0;
        margin: 0 1rem;
        
        
    }
    #menu li{
        text-decoration: double underline;
        margin-bottom: 20px;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        color: white;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active  #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active  #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
    
