body{
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.menuNavDesktop{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(173, 144, 62, 0.559);
    width: 100%;
    color: white;
    
}
.menuNavDesktop nav {
    display: flex;
    gap: 15px;
    list-style: none;
    
}
.menuNavDesktop nav a{
   text-decoration: none;
   color: white;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}


.imgFrontalDosNoivos{
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    width: 100%;

}

.imgFrontalDosNoivos img{
    width: 100%;
    height: 510px;
    object-fit: cover;
    margin-top: 0px;
    
}

.boasVindasDosNoivos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    margin-top: 0;
    color: white;
}

.apresentacaoDosNoivos{
    display: flex;
    align-items: center;
    justify-content: center;

}
.apresentacaoDosNoivos h2{
    display: flex;
    font-size: 40px;
    color: rgba(173, 144, 62, 0.559);
}

.segundaImgDosNoivos{
    display: flex;
    justify-content: center;
    align-items: center;


}
.segundaImgDosNoivos img{
    border-radius: 25%;
    border: 5px rgba(173, 144, 62, 0.559) solid;

}
.confirmarPresenca h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmarPresenca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    margin-top: 10px;
    color: white;
    
}
.confirmarPresenca input{
    width: 550px;
    height: 30px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 10px;
    padding-left: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    
}
.informationBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);

   
}

.chooseInformation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(173, 144, 62, 0.559);
    
}

#btn-mobile {
    display: none;
}
@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: none;
    }
}
    
